@import '~/variables';

.p-training {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  &-item {
    position: relative;
  }

  &-card {
    opacity: .5;

    &--bot {
      >>> .card-description,
      >>> .card-hp,
      >>> .card-power {
        opacity: 0;
      }
    }

    &.is-selected {
      opacity: 1;
    }

    &.is-fighting {
      animation: remove-card 1.5s .5s;

      @keyframes remove-card {
        0% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
      }
    }

    &--bot.is-fighting {
      >>> .card-description,
      >>> .card-hp,
      >>> .card-power {
        opacity: 1;
      }
    }
  }

  &-hr {
    border-bottom: 1px dashed rgba($color-foreground-dark, .2);
    display: block;
    height: 1px;
    margin: 1rem;
    width: 60%;
  }

  &-send {
    display: block;
    margin: 0 auto;
    transform: translateY(-50%);
  }
}
