@import 'variables';
@import 'mixins/medias';

.is {
  &-hidden {
    display: none;
  }

  &-disabled {
    color: $color-foreground-bright !important;

    @include medias {
      opacity: .8;
    }
  }
}
