@import 'variables';

.fade-enter-active,
.fade-leave-active {
  transition: opacity $animation-speed-fast cubic-bezier(1, .5, .8, 1);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.add-enter-active,
.add-leave-active {
  transition: transform $animation-speed-fast;
}

.add-enter,
.add-leave-to {
  transform: scale(1.25);
}