@import '~/variables';

.p-wizard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100%;

  &-avatar {
    text-align: center;
  }

  &-form {
    $width: 40rem;

    align-self: center;

    @media (min-width: $width) {
      width: $width;
    }
  }

  &-controls {
    padding-top: 2rem;
  }

  &-send {
    display: block;
    margin: 0 auto;
  }
}
